@model MyComicList.Application.DataTransfer.Comics.ComicGetDTO

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>
@if (TempData["error"] != null)
{
    <p class="text-danger">@TempData["error"]</p>
}
else 
{
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <textarea asp-for="Description" class="form-control"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Issues" class="control-label"></label>
                    <input asp-for="Issues" class="form-control" />
                    <span asp-validation-for="Issues" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PublishedAt" class="control-label"></label>
                    <input asp-for="PublishedAt" class="form-control" />
                    <span asp-validation-for="PublishedAt" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <select name="Genres" multiple class="form-control">
                        @foreach (var g in ViewBag.Genres)
                        {
                            @if (ViewBag.GenreSelectedIds.Contains(g.Id))
                             {
                                <option selected value="@g.Id">@g.Name</option>
                             }
                            else
                            {
                                <option value="@g.Id"> @g.Name </option>
                            }
                        }
                    </select>
                </div>

                <div class="form-group">
                    <select name="Authors" multiple class="form-control">
                        @foreach (var a in ViewBag.Authors)
                        {
                            @if (ViewBag.AuthorSelectedIds.Contains(a.Id))
                            {
                                <option selected value="@a.Id">@a.FullName</option>
                            }
                            else
                            {
                                <option value="@a.Id"> @a.FullName </option>
                            }
                        }
                    </select>
                </div>

                <div class="form-group">
                    <select name="Publisher" class="form-control">
                        @foreach (var p in ViewBag.Publishers)
                        {
                            @if (ViewBag.PublisherSelectedId == p.Id)
                             {
                                <option selected value="@p.Id">@p.Name</option>
                             }
                            else
                            {
                                <option value="@p.Id"> @p.Name </option>
                            }
                        }
                    </select>
                </div>


                <div class="form-group">
                    <div class="col-md-10">
                        <p>Upload one picture:</p>
                        <input type="file" name="Image">
                    </div>
                </div>


                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
